body {
    background-color: azure;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

nav {
  margin-right: 5%;
  margin-top: 1%;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.8;
  color: darkslategrey;
  text-align: right;
}

h1{
    background-color: darkcyan;
    height: 45px;
    text-align: center;
    color: azure;
    font-family: Arial, Helvetica, sans-serif;
}

#resp {
    margin: -5px 5% 25px;
}

a {
    text-decoration: none;
}

p {
    margin-left: 3%;
    margin-bottom: 1%;
    line-height: 1.5;
    color: darkslategrey;
}

fieldset{
    margin-left: 3%;
    margin-bottom: 1%;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.8;
    color: darkslategrey;
}

button {
    margin-top: 1.5%;
    font-family: Arial, Helvetica, sans-serif;
    color: darkslategrey;
}

div {
    
    margin: 0 40%;
}

#code{
    margin-left: 40px;
    font-family: 'Courier New', Courier, monospace;
}

#seteporcento{
    margin-left: 7%;
}

#noveporcento{
    margin-left: 9%;
}

#dozeporcento{
    margin-left: 12%;
}